#container{
    margin: 10% auto;
    padding: 5% 0;
    width: 40%;
    text-align: center;
}

h1{
    margin: 5% auto;
}

.input{
    margin: 3% 10%;
    padding: 1% 1%;
    width: 78%;
}
label{
    margin: 3% 10%;
    padding: 1% 0;
    width: 80%;
}
#logo{
    position: relative;
    margin: auto;
}
.row{
    display: flex;
    margin: 5% 10%;
}

.button{
    margin: 0 1%;
    width: 48%;
}
.centeredButton{
    margin: 5% 5%;
    width: 90%;
}

#exit{
    background-color: #DB5461;
}
#exit:hover{
    background-color: #E3655B;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}
textarea{
    resize:vertical;
    height: 50px;
}