#container{
    margin: 10% auto;
    padding: 5% 0;
    width: 40%;
}

h1{
    margin: 10% auto;
}

button{
    margin: 3% 15%;
    padding: 1% 0;
    width: 70%;
}

#exit{
    margin: 5% 30%;
    width: 40%;
    background-color: #DB5461;
}
#exit:hover{
    background-color: #E3655B;
}
